{{ define "comment" }}
<table>
  <tbody>
    <tr>
      <td class="vote">
        {{ if $.authorized }}
          <a {{ if .can_upvote }} href="/post/{{ .comment.ID }}/upvote" {{ else }} class="invisible" {{ end }}>▲</a>
        {{ end }}
      </td>
      <td>
        <span class="small">
          <a href="/user/{{ .comment.User.Name }}">{{ .comment.User.Name }}</a>
          <span>{{ (timeAgoInWords .comment.CreatedAt)}}</span>
          {{ if .authorized }}
            {{ if .can_delete }}
              <span>| </span>
              <a onclick="return confirm('Are you sure you want to delete this post?')" href="/post/{{ .comment.ID }}/delete">delete</a>
            {{ end }}
          {{ end }}
        </span>
      </td>
    </tr>
    <tr>
      <td></td>
      <td class="comment">
        {{ .comment.Content }}
      </td>
    </tr>
    <tr>
      <td></td>
      <td><span class="small"><a href="/post/{{ .comment.ID }}/submit">reply</a></span></td>
    </tr>
    <tr class="indent">
      <td>
      <td>
        {{ range $comment := .comment.Posts }}
          {{ template "comment" (dict "comment" $comment "authorized" $.authorized "can_upvote" ($comment.CanUpvote $.current_user) "can_delete" ($comment.CanDelete $.current_user) "current_user" $.current_user)}}
        {{ end }}
      </td>
    </tr>
  </tbody>
</table>
{{ end }}
