{{ define "body" }}
{{ template "post_meta" (dict "post" .post "can_upvote" (.post.CanUpvote .current_user) "can_delete" (.post.CanDelete .current_user) "authorized" .authorized)}}
<br/>
<table>
  <tbody>
    <tr>
      <td>{{ if .authorized }}&nbsp;&nbsp;&nbsp;{{ end }}</td>
      <td>
        <form action="/post/{{ .post.ID }}/submit" method="POST">
          <textarea cols="50" rows="7" name="content">{{ .content }}</textarea>
          <div class="error">
            {{ with .errors.content }}
              <span> ({{ . }})</span>
            {{ end }}
          </div>
          <br/>
          <input type="submit" value="reply" />
        </form>
      </td>
    </tr>
  </tbody>
</table>
<br/>
{{ range $comment := .post.Posts }}
  {{ template "comment" (dict "comment" $comment "authorized" $.authorized "can_upvote" ($comment.CanUpvote $.current_user) "can_delete" ($comment.CanDelete $.current_user) "current_user" $.current_user)}}
{{ end }}

{{ end }}
