{{ define "body" }}
<h3>{{ .username }}</h3>

{{ if (eq .username .authorized_username) }}
  This is your profile.
{{ end }}
{{ if .admin }}
  You are an admin.
{{ end }}

<br/>
<br/>

{{ if (not (eq 0 (len .posts)))}}
  Posts:
  <ul>
    {{ range $post := .posts }}
      <li><a href="/post/{{ $post.ID }}">{{ $post.Title }}</a></li>
  {{ end }}
  </ul>
{{ else }}
  This user has no posts.
{{ end }}

<br/>

{{ if (not (eq 0 (len .comments)))}}
  Comments:
  <ul>
    {{ range $comment := .comments }}
      <li><a href="/post/{{ $comment.ID }}">{{ $comment.Content }}</a></li>
  {{ end }}
  </ul>
{{ else }}
  This user has no comments.
{{ end }}

{{ end }}
